/*
https: //coolors.co/858988-D85627-E3EBE8-007e8e-F7F7FF
B1B695- green
*/

@font-face {
  font-family: 'edosz';
  src: local('edosz'), url('../../utils/edosz.ttf') format('truetype');
}

.landingPage {
  background-image: url('../../images/splash_mobile.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.section {
  font-family: 'edosz';
  color: #D85627;
  font-size: 30px;
  margin-top: 40px;
}

.section h1 {
  text-align: center;
}

.ftw {
  font-family: 'edosz';
}

/* ======================== delete this when the API finishes updating ======================== */

.updating {
  margin-top: 20px;
  color: #D85627;
}

.space {
  padding: 0 5px;
}

/* ======================== */

.modalContent {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 25%;
  border: 1px solid #ccc;
  background-color: #ffffff;
  overflow: auto;
  border-radius: 6px;
  padding: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.55);
}

.closeModal {
  font-weight: bold;
}

.instructionsDiv {
  color: #D85627;
  width: 100%;
  padding-top: 5px;
}

.instructionsHead {}

.instructionsTitle,
.instructionsDesc {
  text-align: center;
  margin: 0 auto;
  padding: 0 5px 5px 5px;
}

.instructionBox {
  margin-top: 25px;
}

.instructions {
  width: 80%;
  margin: 10px auto;
  font-size: small;
  color: #858988;
}

.photoCred {
  opacity: 10%;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* tablet */

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .landingPage {
    background-image: url('../../images/splash_tablet.png');
  }
  .instructionsDiv {
    height: 250px;
  }
  .section {
    font-size: 80px;
    margin-top: 80px;
  }
  /* ======================== delete this when the API finishes updating ======================== */
  .updating {
    font-size: 25px;
    margin-right: 25px;
    margin-left: 25px;
  }
  /* ======================== */
  .modalContent {
    top: 15%;
    left: 15%;
    right: 15%;
  }
  .closeModal {
    font-size: 20px;
  }
  .instructionsTitle {
    font-size: 40px;
  }
  .instructionsDesc {
    font-size: 20px;
  }
  .instructions {
    font-size: 18px;
    margin: 25px auto;
  }
  .instructionBox {
    margin-top: 45px;
  }
}

/* desktop */

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .landingPage {
    background-image: url('../../images/splash_desktop.png');
  }
  .modalContent {
    left: 18%;
    right: 18%;
    bottom: 10%;
  }
  .closeModal {
    border: none;
    font-size: 30px;
  }
  /* ======================== delete this when the API finishes updating ======================== */
  .updating {
    margin-left: 40px;
  }
  /* ======================== */
  .instructionsDiv {
    height: 300px;
  }
  .instructionsTitle {
    font-size: 80px;
  }
  .instructionsDesc {
    font-size: 30px;
  }
  .instructions {
    font-size: 25px;
  }
}

/*
Resources:
 - https: //stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
*/