/* https://coolors.co/d85627-b1b695-858988-e3ebe8-f7f7ff
*/

.login {
  background-color: #F7F7FF;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.homeLink {
  color: #E3EBE8;
  text-decoration: none;
}

.hereLink {
  color: #D85627;
  text-decoration: none;
}

.loginFieldset {
  border: 0;
}

.RML-login-modal-mode>div.active {
  background-color: rgba(216, 86, 39, 0.9);
  cursor: default;
}

.RML-login-modal-mode>div {
  background-color: #F7F7FF;
}

.RML-login-modal-close {
  background-color: #858988;
}

#loginSubmit {
  /* background-color: #858988; */
  color: #E3EBE8;
  height: 25px;
}

.registerHere {
  text-align: center;
  color: #B1B695;
}

/* ============================ 
MEDIA QUERIES
============================*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  .login {
    border-radius: 8px;
  }
  .loginFieldset {
    width: 80%;
  }
  .loginForm {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #loginEmail,
  #loginPassword,
  .loginSubmitButton,
  .registerSubmitButton {
    height: 30px;
    padding: 0 10px;
    /* width: 100%; */
  }
  .loginForm {
    display: flex;
    justify-content: center;
  }
  .loginFieldset {
    width: 750px;
  }
}