/*
https: //coolors.co/858988-D85627-E3EBE8-007e8e-F7F7FF
B1B695- green
*/

.gameDiv {
  margin: 15px;
}

.todayHeader {
  text-align: center;
  font-size: 18px
}

.gameTimeDiv {
  background-color: #D85627;
  padding: 5px 15px;
  text-align: center;
  font-weight: 1000;
  height: 30px;
}

.awayTeamDiv,
.homeTeamDiv {
  display: inline-block;
  height: 60px;
  width: 45%;
  padding: 15px;
  vertical-align: top;
  text-align: center;
}

.awayTeamDiv {
  background-color: #007e8e;
}

.homeTeamDiv {
  background-color: #858988;
}

.atSymbol {
  display: inline-block;
  width: 10%;
  height: 60px;
  padding: 5px;
  background-color: #E3EBE8;
  vertical-align: top;
  text-align: center;
  font-size: 18px;
}

.noGames {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

/* ============================ 
MEDIA QUERIES
============================*/

@media screen and (min-width: 768px) {
  .gameDiv {
    width: 80%;
    margin: 35px auto;
  }

  .gameTimeDiv {
    padding: 10px 15px;
    height: 50px;
    font-size: 20px;
    font-weight: 1000;
  }

  .awayTeamDiv,
  .atSymbol,
  .homeTeamDiv {
    height: 80px;
    padding-top: 25px;
  }

  .atSymbol {
    font-size: 30px;
  }

  .awayTeamDiv,
  .homeTeamDiv {
    font-size: 20px;
  }

  .todayHeader {
    font-size: 25px
  }

  .noGames {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .gameDiv {
    width: 28%;
    margin: 25px;
    display: inline-block;
  }

  .gameTimeDiv {
    padding: 10px 15px;
    height: 50px;
    font-size: 20px;
    font-weight: 1000;
  }

  .awayTeamDiv,
  .atSymbol,
  .homeTeamDiv {
    height: 100px;
    padding-top: 25px;
  }

  .atSymbol {
    font-size: 20px;
  }

  .awayTeamDiv,
  .homeTeamDiv {
    font-size: 18px;
  }

  .todayHeader {
    font-size: 25px
  }

  .noGames {
    font-size: 30px;
  }
}