/*
https: //coolors.co/858988-D85627-E3EBE8-007e8e-F7F7FF
B1B695- green
*/

#fullName,
#username,
#email,
#password,
#teamName,
.regSubmitButton {
  text-align: center;
  height: 40px;
  width: 75%;
  border-radius: 8px;
  margin: 0px auto 15px auto;
  display: block;
}

.regSubmitButton {
  background-color: #D85627;
  color: #E3EBE8;
}

.fieldset {
  border: 0;
}

/* ============================ 
MEDIA QUERIES
============================*/

@media screen and (min-width: 768px) {

  #fullName,
  #username,
  #email,
  #password,
  #teamName,
  .regSubmitButton {
    height: 50px;
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {

  #fullName,
  #username,
  #email,
  #password,
  #teamName,
  .regSubmitButton {
    height: 50px;
    width: 100%;
  }

  .registerForm {
    display: flex;
    justify-content: center;
  }

  .fieldset {
    width: 750px;
  }
}