/*
https: //coolors.co/858988-D85627-E3EBE8-007e8e-F7F7FF
B1B695- green
*/

@font-face {
  font-family: 'edosz';
  src: local('edosz'), url('../utils/edosz.ttf') format('truetype');
}

.header {
  font-family: 'edosz';
  color: #D85627;
  font-size: large;
  text-align: center;
  margin: 10px 0 25px 0;
}

/* ============================ 
MEDIA QUERIES
============================*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    font-size: 40px;
    margin: 55px;
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    font-size: 50px;
    margin: 65px;
  }
}

/*
Resources:
 - https: //stackoverflow.com/questions/41676054/how-to-add-fonts-to-create-react-app-based-projects
- https: //scotch.io/@micwanyoike/how-to-add-fonts-to-a-react-project
*/