.theDraft {
  justify-content: space-evenly;
}

.info {
  text-align: center;
}

.teamFilterSelect {
  position: relative;
  float: right;
  margin: 10px 12px;
  border: 2px solid #007e8e;
  background-color: #007e8e;
  padding: 3px;
  color: white;
}

.players {
  display: flex;
  width: 95%;
  margin: 10px auto;
}

.availablePlayers,
.myPlayers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.myPlayers {
  width: 30%;
  flex-direction: column;
}

.availablePlayers {
  width: 70%;
  justify-content: flex-end;
}

.playerList,
.teammate {
  list-style-type: none;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
}

.teammate {
  border: 2px solid #007e8e;
  width: 100%;
}

.playerList {
  border: solid #D85627 2px;
  width: 45%;
}

.liButton {
  border: none;
  background-color: transparent;
}

.playersSubmitButton {
  text-align: center;
  border-radius: 5px;
  margin: 8px 0 0 3px;
  color: #F7F7FF;
  width: 100%;
  height: 30px;
  background-color: #D85627;
  font-weight: bold;
}

/* ============================ 
MEDIA QUERIES
============================*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  .teamFilterSelect {
    margin: 15px 22px;
    padding: 8px;
  }
  .myPlayers {
    width: 15%;
  }
  .availablePlayers {
    width: 85%;
  }
  .playerList {
    width: 22%;
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .teamFilterSelect {
    margin: 15px 34px;
    padding: 8px;
  }
  .myPlayers {
    width: 15%;
  }
  .availablePlayers {
    width: 85%;
  }
  .playerList {
    width: 15%;
  }
}