.dashboard {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.team {
  width: 100%;
  overflow-x: scroll; 
  overflow-y: hidden; 
  white-space: nowrap;
}

.scroll {
  font-size: x-small;
  font-style: italic;
  color: #858988;
  text-align: center;
}

.descriptions {
  color: #000000;
  
}

.playerStats,
.descriptions {
  list-style-type: none;
  flex-wrap: nowrap;
}

.gameDay,
.offense,
.defense,
.points,
.offenseTitle,
.defenseTitle,
.pointsTitle {
  display: inline-block;
  padding: 10px;
  width: 18%;
  font-size: 13px;
  text-align: center;
}

.playerNametitle,
.gameDayTitle {
  width: 30%;
  display: inline-block;
  padding: 10px;
  font-size: 13px;
}

.playerName {
  color: #D85627;
  white-space: normal;
  width: 30%;
  display: inline-block;
  padding: 0 2px 0 8px;
  font-size: 10px;
}

.playerNametitle,
.gameDayTitle,
.offenseTitle,
.defenseTitle,
.pointsTitle
.gameDay {
  white-space: normal;
}

.gameDay {
  background-color: #E3EBE8;
  width: 30%;
}

.offense {
  background-color:#B1B695;
}

.defense {
  background-color: #858988;
}

.points {
  background-color: #D85627;
  color: #F7F7FF;
}



/* ============================ 
MEDIA QUERIES
============================*/


@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {

  .team {
    width: 100%;
    padding: 0 20px;
  }

  .offense,
  .defense,
  .points,
  .offenseTitle,
  .defenseTitle,
  .pointsTitle {
    width: 8.75%;
  }

  .playerName,
  .playerNametitle,
  .gameDayTitle,
  .gameDay {
    width: 15%;
  }

  .scroll {
    display: none;
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

  .team {
    width: 100%;
    padding: 0 20px;
  }

  .offense,
  .defense,
  .points,
  .offenseTitle,
  .defenseTitle,
  .pointsTitle,
  .playerName,
  .playerNametitle,
  .gameDayTitle,
  .gameDay {
    width: 10%;
  }

  .scroll {
    display: none;
  }
}