/*
https: //coolors.co/858988-D85627-E3EBE8-007e8e-F7F7FF
B1B695- green
*/

.team-score {
  float: right;
  margin-right: 20px;
  margin-bottom: 40px;
}

.score-p {}

.total-points {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  padding: 8px 0;
  background-color: #D85627;
  color: #ffffff;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* tablet */

@media screen and (min-width: 768px) {}

/* desktop */

@media screen and (min-width: 1024px) {
  .total-points {
    padding: 15px 0;
    width: 130px;
    font-size: 18px;
  }

  .score-p {
    font-size: 20px;
  }
}