.team {
  border: solid #000000 1px;
}

.roster, .playerStats {
   /* display: inline-block; */
   /* display: flex;
   justify-content:space-around; */
}

.playerStats, .descriptions {
  list-style-type: none;
}

.playerName, .gameDay, .offense, .defense, .points, .title {
  display: inline-block;
  padding: 10px;
  padding-right: 25px;
  width: 70px;
}