.team {
  border: solid #000000 1px;
}

.playerStats, .descriptions {
  list-style-type: none;
}

.playerName, .gameDay, .offense, .defense, .points, .title {
  display: inline-block;
  padding: 10px;
  padding-right: 25px;
  width: 70px;
}