.login {
  background-color: #F7F7FF;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: 0;
}

#email, 
#password,
.submitButton {
  text-align: center;
  height:40px;
  width:85%;
  border-radius: 8px;
  margin: 0px auto 15px auto;
  display: block;
}

.submitButton {
  background-color: #D85627;
  color: #E3EBE8;
}

.registerHere {
  text-align: center;
  color: #B1B695;
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .login {
    margin: 35px auto 0 auto;
    border-radius: 8px;
  }

  fieldset {
    width: 80%;
  }

  .loginForm {
    display: flex;
    justify-content: center;
  }
}