/*
https: //coolors.co/858988-D85627-E3EBE8-007e8e-F7F7FF
B1B695- green
*/

.login {
  background-color: #F7F7FF;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hereLink {
  color: #D85627;
  text-decoration: none;
}

.loginFieldset {
  border: 0;
}

#loginEmail,
#loginPassword,
.loginSubmitButton {
  text-align: center;
  height: 40px;
  width: 75%;
  border-radius: 8px;
  margin: 20px auto 0px auto;
  display: block;
}

.loginSubmitButton {
  background-color: #D85627;
  color: #E3EBE8;
}

.registerHere {
  text-align: center;
  color: #007e8e;
  margin-top: 15px;
}

/* ============================ 
MEDIA QUERIES
============================*/

@media screen and (min-width: 768px) {
  .login {
    border-radius: 8px;
  }

  .loginFieldset {
    width: 80%;
  }

  .loginForm {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {

  #loginEmail,
  #loginPassword,
  .loginSubmitButton {
    height: 50px;
    width: 100%;
  }

  .loginForm {
    display: flex;
    justify-content: center;
  }

  .loginFieldset {
    width: 750px;
  }
}