.login {
  background-color: #F7F7FF;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.homeLink {
  color: #E3EBE8;
  text-decoration: none;
}

.hereLink {
  color: #D85627;
  text-decoration: none;
}

.loginFieldset {
  border: 0;
}

#loginEmail,
#loginPassword,
.loginSubmitButton {
  text-align: center;
  height:40px;
  width:85%;
  border-radius: 8px;
  margin: 0px auto 15px auto;
  display: block;
}

.loginSubmitButton {
  background-color: #D85627;
  color: #E3EBE8;
}

.registerHere {
  text-align: center;
  color: #B1B695;
}


/* ============================ 
MEDIA QUERIES
============================*/



@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  .login {
    border-radius: 8px;
  }

  .loginFieldset {
    width: 80%;
  }

  .loginForm {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

     #loginEmail,
     #loginPassword,
     .loginSubmitButton {
       height: 50px;
       width: 100%;
     }

     .loginForm {
       display: flex;
       justify-content: center;
     }

     .loginFieldset {
       width: 750px;
     }
}